@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "makeup.css";

@layer base {
  h1 {
    @apply my-4 pt-2 font-sans text-4xl font-semibold text-gray-900;
  }

  h2 {
    @apply my-3 pt-2 font-sans text-3xl font-semibold text-gray-900;
  }

  h3 {
    @apply my-2 pt-2 font-sans text-xl font-semibold text-gray-900;
  }

  h4 {
    @apply my-2 py-2 font-sans text-lg font-semibold text-gray-900;
  }

  strong {
    @apply font-bold text-slate-800;
  }

  li {
    @apply leading-8 text-slate-700;
  }

  /* a {
    @apply hover:squiggle-blue border-b border-blue-200 pb-1 hover:border-opacity-0;
  } */

  p {
    @apply py-2 leading-loose text-slate-600;
  }

  p > img {
    @apply mx-auto;
  }
}

.admonition {
  @apply m-2 mb-12;
}

.admonition-warning {
  @apply float-right ml-4 max-w-xl rounded-md border border-l-4 border-yellow-100 border-yellow-500 shadow-md;
}
.admonition-info {
  @apply float-right ml-4 max-w-xl rounded-md border border-l-4 border-blue-100 border-blue-500 shadow-md;
}
.admonition-error {
  @apply rounded-md border border-r-4 border-slate-100 border-r-red-400 drop-shadow md:ml-4 lg:float-right lg:max-w-xl;
}
.admonition-neutral {
  @apply rounded-md border border-r-4 border-slate-100 border-r-blue-400 drop-shadow md:ml-4 lg:float-right lg:max-w-xl;
}
.admonition-tip {
  @apply rounded-md border border-r-4 border-slate-100 border-r-green-400 drop-shadow md:ml-4 lg:float-right lg:max-w-xl;
}

.admonition p {
  @apply px-2;
}

.admonition > .tip {
  @apply my-0 bg-orange-200 pl-2 font-sans text-lg font-bold text-black;
}

.admonition > .warning {
  @apply my-0 pl-2 font-sans text-lg font-bold text-black;
  background-color: hsl(40, 67%, 79%);
}

.admonition > .info {
  @apply my-0 pl-2 font-sans text-lg font-bold text-black;
  background-color: hsl(40, 67%, 79%);
}

.admonition > .error {
  @apply my-0 pl-2 font-sans text-lg font-bold text-black;
  background-color: hsl(40, 67%, 79%);
}

.admonition > .neutral {
  background-color: hsl(224, 24%, 16%);
  color: #fff;
}

@layer utilities {
  .disable-link {
    @apply border-none hover:bg-none;
  }

  /* https://codemyui.com/theoutline-squiggle-link-hover-effect/ */
  .squiggle-orange {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(-20px);}to {transform:translateX(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  .squiggle-blue {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(-20px);}to {transform:translateX(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23BFDBFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
}

pre {
  max-width: 90vw;
  @apply rounded-lg;
}

pre {
  position: relative;
}

pre:hover .copy-button,
pre .copy-button:focus {
  opacity: 1;
}

.copy-button {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  background-color: var(--codeBackground);
  border: none;
  cursor: pointer;
  transition: all 150ms;
  font-family: var(--serifFontFamily);
  font-size: 14px;
  line-height: 24px;
  color: currentColor;
}

.copy-button svg {
  opacity: 0.5;
  transition: all 150ms;
}

pre .copy-button:hover svg,
pre .copy-button:focus-visible svg {
  opacity: 1;
}

.copy-button svg {
  width: 20px;
}

.copy-button.clicked {
  opacity: 1;
  color: var(--success);
}

.copy-button.clicked svg {
  display: none;
  color: currentColor;
}

/* Dropdown */

.pc-dropdown {
  @apply relative inline-block text-left;
}
.pc-dropdown__chevron {
  @apply -mr-1 ml-2 h-5 w-5 dark:text-gray-100;
}
.pc-dropdown__menu-items-wrapper {
  @apply absolute z-30 mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800;
}
.pc-dropdown__menu-items-wrapper-placement--left {
  @apply right-0 origin-top-right;
}
.pc-dropdown__menu-items-wrapper-placement--right {
  @apply left-0 origin-top-left;
}
.pc-dropdown__menu-item {
  @apply flex w-full items-center justify-start gap-2 self-start px-4 py-2 text-left text-sm text-gray-700 transition duration-150 ease-in-out hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700;
}

.pc-dropdown__trigger-button--no-label {
  @apply flex items-center rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100;
}

.pc-dropdown__trigger-button--with-label {
  @apply inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-gray-800 dark:focus:bg-gray-800;
}
.pc-dropdown__trigger-button--with-label-and-trigger-element {
  @apply align-middle;
}
.pc-dropdown__menu-item--disabled {
  @apply text-gray-500 hover:bg-transparent;
}
.pc-dropdown__ellipsis {
  @apply h-5 w-5;
}
