<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Frank Ferreira" %>
    </.live_title>
    <link
      rel="mask-icon"
      href="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg"
      color="#000000"
    />
    <link
      rel="alternate icon"
      class="js-site-favicon"
      type="image/png"
      href="https://github.githubassets.com/favicons/favicon-dark.png"
    />
    <link
      rel="icon"
      class="js-site-favicon"
      type="image/svg+xml"
      href="https://github.githubassets.com/favicons/favicon-dark.svg"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gradient-to-r from-violet-800/5 via-violet-800/20 to-violet-800/5">
    <%= FrankFerreiraWeb.Layouts.header(assigns) %>
    <%= @inner_content %>
    <%!-- <%= FrankFerreiraWeb.Layouts.footer(assigns) %> --%>
  </body>
</html>
